@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toolIcon svg path {
    fill: #5a6168;
}

.toolIcon.active svg path {
    fill: #764abc;
}



i {
    font-style: normal;
    display: inline-block;
    height: 100%;
}